<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot_momentor.dao.IUserDAO">
  	 <!-- 회원 자산정보 유무 -->
  	 <select id="findAssetInfo" parameterType="string" resultType="string">
  	 	select userProperty
  	 	from property
  	 	where userId = #{userId}
  	 </select>
  
	 <!-- 회원 자산 저장 -->
	 <insert id="userAssetInsert">
	 	insert into property (userProperty, userSalary, userDeposit, userSavings, userLoans, userInterest, userId)
	 	values (#{userProperty},#{userSalary},#{userDeposit},#{userSavings},#{userLoans},#{userInterest},#{userId})
	 </insert>
	 
	 <!-- 자산 정보 가져오기 -->
	 <!-- 총 가입자 수 -->
	 <select id="getTotalUserCnt" resultType="int">
	 	select count(*)
	 	from joinUserList
	 </select>
	 
	 <!-- 유저 나이 -->
	 <select id="getUserAge" parameterType="string" resultType="string">
	 	select userAge
	 	from joinUserList
	 	where userId=#{userId}
	 </select>
	 
	 <!-- 해당 나이 가입자 수 -->
	 <select id="getAgeUserCnt" parameterType="string" resultType="int">
	 	select count(*)
	 	from joinUserList
	 	where userAge=#{userAge}
	 </select>
	 
	 <!-- 재산 순위 -->
	 <select id="getPropertyRank" parameterType="string" resultType="int">
		select count(*)
		from joinUserList j, property p
		where j.userId=p.userId and p.userProperty >= (select userProperty
													   from property
													   where userId=#{userId}) and j.userAge = (select userAge
																								from joinUserList
																								where userId=#{userId})
	 </select>
	 
	 <!-- 랜덤 카드 정보 -->
	 <select id="randCardList" resultType="com.spring_boot_momentor.model.CardVO">
	 	select *
	 	from cards
	 	order by rand() LIMIT 0, 4;
	 </select>
	 
	 <!-- 랜덤 적금 정보 -->
	 <select id="randSavingList" resultType="com.spring_boot_momentor.model.SavingBaseVO">
	 	SELECT sb.savingID, comName, prdName, joinWay, interest, spclCnd, maxLimit, joinMember, etcNote, intrRate, intrRate2, saveTrm
		FROM savingBase as sb
		inner join savingOption as so
		on sb.savingID = so.savingID
		order by rand() LIMIT 0, 4;
	 </select>
  </mapper>