@charset "UTF-8";

 .js-load{
     display: none; 
   
   
 } 
 
 .js-load .active{
	width: 1000px;
    position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
 /*   display: inline-flex;  */
   display: block;
}


