<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot_momentor.dao.ICalenderDAO">
  	  <resultMap id="calenderResult" type="com.spring_boot_momentor.model.CalenderVO">
	  		<result property="calSubDate"  column="calSubDate"  />
	  		<result property="calTransfer"  column="calTransfer"  />
	  		<result property="calMaturity"  column="calMaturity"  />
	  		<result property="prdID"  column="prdID"  />
	  		<result property="userID"  column="userID"  />
	  		<result property="dataID"  column="dataID"  />
	  		<result property="prdType"  column="prdType"  />
	  		<result property="calPayment"  column="calPayment"  />
	  		<result property="calDeposit"  column="calDeposit"  />
	  </resultMap>
	  <resultMap type="com.spring_boot_momentor.model.CardVO" id="cardResult">
		  <result column="cardId" property="cardId"/>
		  <result column="cardName" property="cardName"/>
		  <result column="cardDes" property="cardDes"/>
		  <result column="cardImgUrl" property="cardImgUrl"/>
		  <result column="cardFee" property="cardFee"/>
		  <result column="cardUrl" property="cardUrl"/>
		  <result column="comCtg" property="comCtg"/>
	  </resultMap>
	  <resultMap type="com.spring_boot_momentor.model.InsuVO" id="insuResult">
		  <result column="id" property="id"/>
		  <result column="prdName" property="prdName"/>
		  <result column="prdLogo" property="prdLogo"/>
		  <result column="insuName" property="insuName"/>
		  <result column="insuCtg" property="insuCtg"/>
		  <result column="insuDes" property="insuDes"/>
		  <result column="insuPrice" property="insuPrice"/>
		  <result column="male" property="male"/>
		  <result column="female" property="female"/>
		  <result column="insuIndex" property="insuIndex"/>
		  <result column="age" property="age"/>
		  <result column="insuNote" property="insuNote"/>
		  <result column="insuJoinURL" property="insuJoinURL"/>
		  <result column="insuPhoneNumber" property="insuPhoneNumber"/>
	  </resultMap>
	  <resultMap id="planResult" type="com.spring_boot_momentor.model.PlanVO">
	  		<result property="calSubDate"  column="calSubDate"  />
	  		<result property="calTransfer"  column="calTransfer"  />
	  		<result property="calMaturity"  column="calMaturity"  />
	  		<result property="cardName"  column="cardName"  />
	  		<result property="insuName"  column="insuName"  />
	  		<result property="calPayment"  column="calPayment"  />
	  		<result property="calDeposit"  column="calDeposit"  />
	  		<result property="userID"  column="userID"  />
	  </resultMap>
	  <resultMap id="prdResult" type="com.spring_boot_momentor.model.CalenderProductVO">
	  		<result property="prdID"  column="prdID"  />
	  		<result property="prdName"  column="prdName"  />
	  		<result property="prdDes"  column="prdDes"  />
	  		<result property="prdImg"  column="prdImg"  />
	  		<result property="prdPrice"  column="prdPrice"  />
	  		<result property="male"  column="male"  />
	  		<result property="female"  column="female"  />
	  		<result property="prdURL"  column="prdURL"  />
	  		<result property="prdCom"  column="prdCom"  />
	  		<result property="prdComImg"  column="prdComImg"  />
	  </resultMap>
	  <insert id="insertPlan" parameterType="com.spring_boot_momentor.model.CalenderVO">
			INSERT INTO calender(calSubDate, calTransfer, calMaturity, prdID, userID, prdType, calPayment, prdName, calDeposit)
			VALUES (#{calSubDate}, #{calTransfer}, #{calMaturity},#{prdID}, #{userID}, #{prdType}, #{calPayment}, #{prdName}, #{calDeposit})	
	  </insert>
		<select id="calenderPrdList" resultMap="prdResult">
			<choose>
				<when test="kind == 'card'">
					SELECT 
						cardId AS prdID,
						cardName AS prdName,
						cardDes AS prdDes,
						cardImgUrl AS prdImg,
						cardFee AS prdPrice,
						cardUrl AS prdURL,
						comCtg AS prdCom
					FROM cards 
					<if test="kindDetail != 'default'">
						WHERE comCtg=#{kindDetail} 
					</if>
				</when>
				<when test="kind == 'insu'">
					SELECT 
						insuId AS prdID,
						insuName AS prdName,
						insuJoinURL AS prdURL,
						prdName AS prdCom,
						prdLogo AS prdComImg
					FROM insu 
					<if test="kindDetail != 'default'">
						WHERE insuCtg=#{kindDetail} 
					</if>
				</when>
				<when test="kind == 'saving'">
					SELECT 
						savingID AS prdID,
						comName AS prdCom,
						prdName AS prdName,
						maxLimit AS prdPrice
					FROM savingBase 
					<if test="kindDetail != 'default'">
						WHERE comName=#{kindDetail} 
					</if>
				</when>
				<when test="kind == 'deposit'">
					SELECT 
						depositID AS prdID,
						prdName AS prdName,
						comName AS prdCom,
						maxLimit AS prdPrice
					FROM depositBase 
					<if test="kindDetail != 'default'">
						WHERE comName=#{kindDetail} 
					</if>
				</when>
			</choose>
			<choose>
				<when test="order == 'name'">
					ORDER BY prdName
				</when>
				<when test="order == 'latest'">
					ORDER BY prdID DESC
				</when>
			</choose>
		</select>
	  <select id="calenderView" resultMap="planResult">
			SELECT *
			FROM calender
	        WHERE userID = #{userID} ORDER BY calTransfer
	  </select> 
	  <select id="planDuplicateCheck" resultType="int">
			SELECT COUNT(*) FROM calender 
			WHERE prdID=#{prdID} 
			AND userID=#{userID} 
			AND prdType=#{prdType};
	  </select>
	  <select id="changePrdName" parameterType="com.spring_boot_momentor.model.CalenderVO">
			UPDATE calender 
			SET prdName = #{prdName}  
			WHERE dataID=#{dataID} 
			AND userID=#{userID} ;
	  </select>
	  <delete id="deletePlan" parameterType="int">
	  	DELETE FROM calender
	  	WHERE dataID=#{dataID}
	  </delete>
	  <select id="getPlanModify" resultType="com.spring_boot_momentor.model.CalenderVO">
			SELECT * FROM calender   
			WHERE userID=#{userID} 
			AND dataID=#{dataID};
	  </select>
	  <update id="modifyPlan" parameterType="com.spring_boot_momentor.model.CalenderVO">
			UPDATE calender 
			SET prdName = #{prdName},
				calSubDate = #{calSubDate}, 
				calTransfer = #{calTransfer},  
				calMaturity = #{calMaturity},  
				calPayment = #{calPayment}
			WHERE dataID = #{dataID}
			AND	userID = #{userID};
	  </update>
	  <select id="prdTotalFee" resultType="String">
			SELECT SUM(calPayment) FROM calender 
			WHERE userID=#{userID} 
			AND prdType=#{prdType};
	  </select>
	  <select id="prdTotalDeposit" resultType="int">
			SELECT SUM(calDeposit) FROM calender 
			WHERE userID=#{userID};
	  </select>
	  <select id="insertPrdCategory" resultType="String">
	  	<choose>
				<when test="kind == 'card'">
					SELECT comCtg FROM cards GROUP BY comCtg
				</when>
				<when test="kind == 'insu'">
					SELECT insuCtg FROM insu GROUP BY insuCtg
				</when>
				<when test="kind == 'saving'">
					SELECT comName FROM savingBase GROUP BY comName
				</when>
				<when test="kind == 'deposit'">
					SELECT comName FROM depositBase GROUP BY comName
				</when>
		</choose>
	  </select>
	  
		<select id="calenderSearch" resultMap="prdResult">
			<choose>
				<when test="kind == 'card'">
			<![CDATA[
					SELECT 
						cardId AS prdID,
						cardName AS prdName,
						cardDes AS prdDes,
						cardImgUrl AS prdImg,
						cardFee AS prdPrice,
						cardUrl AS prdURL,
						comCtg AS prdCom
					FROM cards 
	  				WHERE cardName like CONCAT('%',#{text},'%')
	  		]]>
				</when>
				<when test="kind == 'insu'">
					SELECT 
						id AS prdID,
						insuName AS prdName,
						insuJoinURL AS prdURL,
						prdName AS prdCom,
						prdLogo AS prdComImg
					FROM insu 
	  				WHERE insuName like CONCAT('%',#{text},'%')
				</when>
				<when test="kind == 'saving'">
					SELECT 
						savingID AS prdID,
						comName AS prdCom,
						prdName AS prdName,
						maxLimit AS prdPrice
					FROM savingBase 
	  				WHERE prdName like CONCAT('%',#{text},'%')
				</when>
				<when test="kind == 'deposit'">
					SELECT 
						savingID AS prdID,
						comName AS prdCom,
						prdName AS prdName,
						maxLimit AS prdPrice
					FROM depositBase 
	  				WHERE prdName like CONCAT('%',#{text},'%')
				</when>
			</choose>
		</select>
  </mapper>