<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.spring_boot_momentor.dao.ICreditLoanDAO">
    <resultMap id="CreditLoanResult" type="com.spring_boot_momentor.model.CreditLoanBaseVO">
		<result property="creditLoanID" column="creditLoanID"/>
		<result property="dclsMonth" column="dclsMonth"/>
		<result property="comNum" column="comNum"/>
		<result property="prdNum" column="prdNum"/>
		<result property="comName" column="comName"/>
		<result property="prdName" column="prdName"/>
		<result property="joinWay" column="joinWay"/>
		<result property="crdtTypeName" column="crdtTypeName"/>
		<result property="cbName" column="cbName"/>
		<result property="dclsStart" column="dclsStart"/>
		<result property="crdtLendRateTypeName" column="crdtLendRateTypeName"/>
		<result property="crdtGrade9Up" column="crdtGrade9Up"/>
		<result property="crdtGrade8Up" column="crdtGrade8Up"/>
		<result property="crdtGrade7Up" column="crdtGrade7Up"/>
		<result property="crdtGrade6Up" column="crdtGrade6Up"/>
		<result property="crdtGrade5Up" column="crdtGrade5Up"/>
		<result property="crdtGrade4Up" column="crdtGrade4Up"/>
		<result property="crdtGrade3Up" column="crdtGrade3Up"/>
		<result property="crdtGrade3Down" column="crdtGrade3Down"/>
		<result property="crdtGradeAvg" column="crdtGradeAvg"/>
	</resultMap>
		
	
  	<insert id="insertCreditLoanBase" parameterType="com.spring_boot_momentor.model.CreditLoanBaseVO" timeout="3">
  		insert into creditLoanBase (creditLoanID, dclsMonth, comNum, prdNum, comName, prdName, joinWay, crdtTypeName, cbName, dclsStart)
  		values (#{creditLoanID}, #{dclsMonth}, #{comNum}, #{prdNum}, #{comName}, #{prdName}, #{joinWay}, #{crdtTypeName}, #{cbName}, #{dclsStart})
  	</insert>
  	<insert id="insertCreditLoanOption" parameterType="com.spring_boot_momentor.model.CreditLoanOptionVO">
  		insert into creditLoanOption (creditLoanID, dclsMonth, comNum, prdNum, crdtLendRateTypeName, crdtGrade9Up, crdtGrade8Up,
  									  crdtGrade7Up, crdtGrade6Up, crdtGrade5Up, crdtGrade4Up, crdtGrade3Up, crdtGrade3Down, crdtGradeAvg)
  		values (#{creditLoanID}, #{dclsMonth}, #{comNum}, #{prdNum}, #{crdtLendRateTypeName}, #{crdtGrade9Up}, #{crdtGrade8Up}, 
  				#{crdtGrade7Up}, #{crdtGrade6Up}, #{crdtGrade5Up}, #{crdtGrade4Up}, #{crdtGrade3Up}, #{crdtGrade3Down}, #{crdtGradeAvg})
  	</insert>
  	
  	<!--  전체 대출 조회  -->
	<select id="listAllCreditLoan" resultMap="CreditLoanResult"> 
		SELECT b.creditLoanID, comName, prdName, joinWay, crdtTypeName, cbName, crdtLendRateTypeName, crdtGrade9Up, crdtGrade8Up, crdtGrade7Up, crdtGrade6Up, crdtGrade5Up, crdtGrade4Up,
		crdtGrade3Up, crdtGrade3Down, crdtGradeAvg 
		FROM creditLoanBase as b 
		inner join creditLoanOption as o
		on b.creditLoanID = o.creditLoanID
	
	</select>

	<!--  대출 검색  -->
	<select id="creditLoanSearch" parameterType="hashmap" resultMap="CreditLoanResult"> 
		<![CDATA[
		SELECT * FROM creditLoanBase as cb inner join creditLoanOption as co
		on cb.creditLoanID = co.creditLoanID
		WHERE 
			  comName like CONCAT('%', #{prdName}, '%') and 
			  joinWay like CONCAT('%', #{joinWay}, '%') and
			  crdtTypeName like CONCAT('%', #{crdtTypeName}, '%')
		]]> 
	</select>
	
	<!-- 신용 대출 비교 넣기-->
	<select id="CreditLoanCompare" resultMap="CreditLoanResult" parameterType="string">
		SELECT b.comName, b.prdName, joinWay, crdtTypeName, cbName, crdtLendRateTypeName, crdtGrade9Up, crdtGrade8Up, crdtGrade7Up, crdtGrade6Up, crdtGrade5Up, crdtGrade4Up,
		crdtGrade3Up, crdtGrade3Down, crdtGradeAvg
		FROM creditLoanBase b, creditLoanOption o
		where b.creditLoanID = o.creditLoanID AND b.creditLoanID = #{creditLoanID}
	</select>
	
		<!-- 신용 대출 비교 모달-->
	<select id="CreditLoanCompareModal" resultMap="CreditLoanResult" parameterType="string">
		SELECT b.comName, b.prdName, joinWay, crdtTypeName, cbName, crdtLendRateTypeName, crdtGrade9Up, crdtGrade8Up, crdtGrade7Up, crdtGrade6Up, crdtGrade5Up, crdtGrade4Up,
		crdtGrade3Up, crdtGrade3Down, crdtGradeAvg
		FROM creditLoanBase b, creditLoanOption o
		where b.creditLoanID = o.creditLoanID AND b.creditLoanID = #{creditLoanID}
	</select>
  	</mapper>
  	
 