<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot_momentor.dao.ISCDAO">
  	<resultMap type="com.spring_boot_momentor.model.ServiceCenterVO" id="serviceCenter">
  		<result column="qusNum" property="qusNum" />
  		<result column="userId" property="userId" />
  		<result column="queTitle" property="queTitle" />
  		<result column="question" property="question" />
  		<result column="queState" property="queState" />
  		<result column="answer" property="answer" />
  	</resultMap>
  	
  	<select id="listAllSC" resultMap="serviceCenter">
  		SELECT*FROM serviceCenter LIMIT 0,9
  	</select>
  	<select id="listAllSC2" resultMap="serviceCenter">
  		SELECT*FROM serviceCenter
  		ORDER BY qusNum DESC
  	</select>
  	<insert id="insertServiceCenter" parameterType="com.spring_boot_momentor.model.ServiceCenterVO">
  		INSERT INTO serviceCenter (userId, queTitle, question, queState)
  		VALUES (#{userId}, #{queTitle}, #{question}, #{queState})
  	</insert>
  	<select id="getQNADetail" resultMap="serviceCenter">
  		SELECT * FROM serviceCenter
  		WHERE qusNum=#{qusNum}
  	</select>
  	<delete id="deleteQuestion" parameterType="com.spring_boot_momentor.model.ServiceCenterVO">
  		DELETE FROM serviceCenter WHERE qusNum=#{qusNum}
  	</delete>
  	
  	<update id="updateServiceCenter" parameterType="com.spring_boot_momentor.model.ServiceCenterVO">
  		UPDATE serviceCenter
  		SET answer=#{answer}
  		WHERE qusNum=#{qusNum}
  	</update>
  		<resultMap type="com.spring_boot_momentor.model.InsuVO" id="insuResult">
			
		<result column="prdName" property="prdName"/>
		<result column="prdLogo" property="prdLogo"/>
		<result column="insuName" property="insuName"/>
		<result column="insuCtg" property="insuCtg"/>
		<result column="insuDes" property="insuDes"/>
		<result column="insuPrice" property="insuPrice"/>
		<result column="male" property="male"/>
		<result column="female" property="female"/>
		<result column="insuIndex" property="insuIndex"/>
		<result column="age" property="age"/>
		<result column="insuNote" property="insuNote"/>
		<result column="insuJoinURL" property="insuJoinURL"/>
		<result column="insuPhoneNumber" property="insuPhoneNumber"/>
	</resultMap>
  	<select id="insuRandom" resultMap="insuResult" >
		SELECT * FROM insu
		ORDER BY insuId LIMIT 0, 3
	</select>
	<resultMap id="savingResult" type="com.spring_boot_momentor.model.SavingBaseVO">
		<result property="savingID" column="savingID"/>
		<result property="dclsMonth" column="dclsMonth"/>
		<result property="comNum" column="comNum"/>
		<result property="prdNum" column="prdNum"/>
		<result property="comName" column="comName"/>
		<result property="prdName" column="prdName"/>
		<result property="joinWay" column="joinWay"/>
		<result property="interest" column="interest"/>
		<result property="spclCnd" column="spclCnd"/>
		<result property="maxLimit" column="maxLimit"/>
		<result property="joinMember" column="joinMember"/>
		<result property="etcNote" column="etcNote"/>
		<result property="dclsStart" column="dclsStart"/>
		<result property="intrRate" column="intrRate"/>
		<result property="intrRate2" column="intrRate2"/>
		<result property="saveTrm" column="saveTrm"/>
	</resultMap>
	<select id="savRandom" resultMap="savingResult" >
		SELECT * FROM savingBase
		ORDER BY savingID DESC LIMIT 0, 3
	</select>
  </mapper>
