<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot_momentor.dao.ICardDAO">
  	<insert id="insertCard">
  		insert into hyundai (cardName, cardDes, cardImgUrl, cardFee, cardUrl)
  		values (#{cardName},#{cardDes},#{cardImgUrl},#{cardFee},#{cardUrl})
  	</insert>
  </mapper>