@charset "UTF-8";

body {
	background-color: rgba(246, 246, 246, 0.8);
}

#main {
	margin: 0 auto;
	width: 600px;
}

#resultTable {
	margin: 0 auto;
	width: 600px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	margin-top: 125px;
	border-spacing: 0;
}

table th {
	font-size: 20px;
}

#span {
	font-size: 18px;
	font-weight: bold;
}

#recommend {
	width: 100%;
	margin-top: 125px;
}

#recomTable {
	width: 100%;
	height: 100px;
	text-align: center;
}

#title {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	padding-left: 40px;
	height: 100px;
	line-height: 100px;
}

.product {
	height: 100px;
}

.p1 {
	background-color: rgb(206, 251, 201);
}

.p2 {
	background-color: rgb(217, 229, 255);
}