@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

* {
	margin: 0 auto;
	background-color: rgba(246, 246, 246, 0.1);
	font-family: 'Noto Sans KR', sans-serif;
}

#wrap {
	text-align: center;
	position: relative;
	height: 640px;
}

img {
	width: 250px;
	height: 100px;
}

#container {
	border: solid 2px #aaa;
	border-radius: 10px;
	width: 650px;
}

.list_tab {
	width: 100%;
}

.list_tab  tr  td {
	width: 20%;
}

.tabBtn {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	font-weight: bold;
	/* 	border: none; */
	border-radius: 15px;
}

.tabBtn:hover {
	cursor: pointer;
}

.menu_info {
	width: 60%;
	height: 150px;
}

.write {
	width: 80%;
	height: 25px;
	border: 1px solid gray;
	border-radius: 5px;
}

.menu_Btn {
	width: 30%;
	height: 50px;
}

.input_data {
	width: 80%;
	height: 20px;
	line-height: 20px;
	border: none;
	text-align: right;
}

.btn {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	background-color : #0F4B81;
	color: white;
}

.btn:hover {
	cursor: pointer;
}

.menu_info {
	margin: 15px auto;
	width: 500px;
}
/* #container { */
/* 	border: solid 2px black; */
/* 	width: 650px; */
/* } */
.list_tab {
	border-bottom: solid 1px gray;
}

.result {
	top: 320px;
	width: 100%;
}

.result_div {
	width: 100%;
	border-radius: 10px;
}

.resultTable {
	border-top : 1px solid #aaa;
	width: 100%;
}