@charset "UTF-8";


#search-option, .plan-title {
	display:flex;
	align-items: center;
}
#prd-list-box{
	overflow:auto;
	height:1280px;
	display:flex;
	justify-content:space-evenly;
	flex-wrap: wrap;
}
#prd-view-option-box{
	margin-top:20px;
}
#search-box{
	border:0.5px solid rgb(64 60 67 / 16%);
	padding:3px;
	display:flex;
	align-items:center;
	text-align:center;
	justify-content:center;
	margin-right:20px;
	background-color:white;
	border-radius:20px;
	width:260px;
}

#search-box input{
	font-size:15px;
	padding:5px;
	border:0px;
}
#search-box input:focus{
	outline:0px;
}

#search-option select[name=prd-kind-select], #search-option select[name=prd-kind-selectOption], .prev-month-btn{
	margin-right:10px;
}

#prd-items-view button, #plan-list-view button, #list-nextBtn, #list-prev-btn	{	
	padding:5px 5px;
	color:black;
	font-size:15px;
}

#search-option select{
	font-size:18px;
	padding:8px;
	border:0px;
}
#search-option select:focus{
	outline:0px;
}

#search-option select::expand{
	appearance: none;
}


#prd-list-box::-webkit-scrollbar{
    width: 15px;
}
#prd-list-box::-webkit-scrollbar-thumb{
	background-color:var(--main-color);
	background-clip: padding-box;
	border: 4px solid transparent;
}
#prd-list-box::-webkit-scrollbar-track{
	 background-color:white;
}
#all-delete{
	display:flex;
	justify-content:end;
}
#searchBtn{
	transition: all ease 0.5s;
}
#searchBtn:hover{
	color:var(--main-color);
	transition: all ease 0.5s;
}
.prd-item{
	border:0.5px solid rgb(64 60 67 / 16%);
	width:300px;
	min-height:150px;
	min-width:100px;
	margin:5px auto;
	padding-bottom:10px;
	border-radius:5px;
}
.prd-item button{
	padding:5px;
	font-size:15px;
	margin-right:10px;
	border: 0.5px solid rgb(64 60 67 / 16%);
	color:rgb(64 60 67 / 60%);
}
.prd-des{
	margin:10px 0px;
	font-size:12px;
}

.img-box{
	width:200px;
	height:320px;
    overflow:hidden;
    margin:10px auto;
	transition: all ease 0.5s;
}

.img-box:hover{
	transform:scale(1.1);
	transition: all ease 0.5s;
	cursor:pointer;
}
.img-box img{
	position:relative;
	top:70px;
	right:49px;
	width:300px;
	height:180px;
	transform:rotate(90deg);
}

.prd-detail-view{
	width:300px;
	margin-top:5px;
	font-size:15px;
}
.prd-detail-view td > input{
	width:120px;
	margin-right:5px;
}
.prd-table-title {
	width:70px;
}	
.prd-info-box{
	margin-left:20px;
	font-size:18px;
}
.deco-btn-box, .item-btn-box{
	display:flex;
	margin-top:10px;
}