@charset "UTF-8";

/* common.css 내용 빼옴 */

/* { margin:0 auto; } 
/* 모든 콘텐츠를 포함 wrap box */
/* #wrap{
	width:1280px;
	margin:0 auto;
	text-align:center;
	position:relative;
}
* { margin:0 auto; } */



/* 모든 <img> 태그 테두리 없음 */
/* img {border:0; margin:0;}   */

#calender{
	width:65%;
	height:100%;
}
#calender-view{
	background-color:white;
	padding-left:10px;
	border-left:0.5px dashed rgb(64 60 67 / 60%);
}
#calender-head{
	display:flex;
	background-color:var(--main-color);
	text-align:center;
	align-items:center;
	justify-content:space-between;
    padding: 5px 85px;
}
.calender-date-view, .btnCommon, .prd-detail-view tr, .prd-detail-view tr > td:nth-child(2){
	display:flex;
	align-items:center;
}
.prd-detail-view tr > td:nth-child(2){
	font-weight: 300;
}
.prd-detail-view tr{
	margin-top:5px;
}
.calender-date-view{
	width:70%;
	justify-content:space-between;	
}
.calender-head-text{
	margin:0px 10px;
	color:rgb(240, 240, 240);
	font-weight: bold;
	font-size:15px;
}


.calender-head-items{
	padding:10px;
}


.years, .months {
	height:110px;
	width:500px;
	vertical-align:top;
	font-size:12px;
	padding:10px;
	opacity:60%;
}
.dates, .now{
	height:110px;
	width:500px;
	vertical-align:top;
	font-size:12px;
	padding:10px;
	opacity:100%;
}

.fut-dates, .past-dates {
	opacity:50%;
}
.real-date{
	background-color:aliceblue;
}
.dates:hover, .years:hover, .months:hover{
	background-color:rgba(245, 245, 245);
	transition: all ease 0.5s;
	cursor: pointer;
}

.years:hover, .months:hover{
	background-color:rgb(245, 245, 245);
}
.real-date:hover{
	background-color:rgba(240, 248, 255, 0.3);
}
#year-select-Box{
	overflow:scroll;
}
.view-today-btn{
	font-size:18px;
}
.today-btn-text{
	padding-left:10px;
	font-weight:bold;
	color:rgb(240, 240, 240);
}
.view-date{
	width:160px;
}

.calender-add-form{
	display:flex;
	width:30%;
	justify-content:space-evenly;
}
.calender-plan-box{
	color:black;
}
.view-header-title{
	margin-bottom:20px;
}
