@charset "UTF-8";

/*footer*/
.footer_main{
	width: 100%;
	height: 400px;
	background: #fff;
}
.footer_main_div{
	width:70%;
	margin: 0 auto;
	height: 95%;
	display: flex;
}
.fo_text_div{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
    justify-content: flex-end;
    width: 80%;
}
.fo_div1{
	margin-left: 30px;
	display: flex;
}
#foot_logo{
	width: 200px;
	height: 85px;
}
.fo_div1_text{
	font-size: 16px;
	color: black;
	font-weight: normal;
	margin: auto 15px;
}

.fo_div2 > ul > li {
	display: inline-block;
	text-align: left;
	
}

.fo_div3 > ul > li {
	display: inline-block;
	text-align: left;
}
.fo_div4 > ul > li {
	display: inline-block;
	text-align: left;
}
.fo_other{
	display: flex;
	flex-direction: column;
	width: 20%;
	margin-top: 70px;
}
hr{
/* 	height: 0.5px; */
	background-color: #fff;
  	width:95%;
}

#foot_ul li a, #foot_ul li{
	text-decoration: none;
	color:gray;
	
}
.fo_other{
	text-align: center;
}
.fo_momentor{
	color: #1F4B81;
	font-size: 22px;
	font-weight: bold;
}
.fo_other div a ion-icon{
	width: 50px;
	height: 50px;
	color: gray;
	filter: brightness(0.9);
}
#git_img:hover, #foot_ul li a:hover, #foot_ul li:hover{
	filter: brightness(0);
}