@charset "UTF-8";

* {
	margin: 0 auto;
}

table {
	width: 450px;
	height : 45px;
	line-height : 45px;
	text-align: center;
	margin-top: 5%;
}

table th {
	font-size: 20px;
	padding-bottom: 30px;
}

.title {
	width: 100px;
	text-align: left;
}

#userName {
	width: 80%;
	height : 30px;
	line-height : 30px;
	border-radius: 5px;
	border: solid 1px gray;
	font-size: 15px;
}

#userId {
	width: 80%;
	height : 30px;
	line-height : 30px;
	border-radius: 5px;
	border: solid 1px gray;
	font-size: 15px;
}

#userPassword {
	width: 80%;
	height : 30px;
	line-height : 30px;
	border-radius: 5px;
	border: solid 1px gray;
	font-size: 15px;
}

#pwCheck {
	width: 80%;
	height : 30px;
	line-height : 30px;
	border-radius: 5px;
	border: solid 1px gray;
	font-size: 15px;
}

#userEmail {
	width: 42.5%;
	height : 30px;
	line-height : 30px;
	border-radius: 5px;
	border: solid 1px gray;
	font-size: 15px;
}

#emailCheck {
	width: 57.5%;
	height : 30px;
	line-height : 30px;
	border-radius: 5px;
	border: solid 1px gray;
	font-size: 15px;
}

#checkBtn {
	width: 20%;
	height : 35px;
	line-height : 35px;
	font-size: 15px;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	margin-left: 1%;
}

input {
	width : 22.1%;
	height : 25px;
	line-height : 25px;
	border-radius: 5px;
	border: solid 1px gray;
	font-size: 15px;
}

#authBtn {
	width: 35%;
	height : 35px;
	line-height : 35px;
	font-size: 15px;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	margin-left: 1%;
}

#findBtn {
	width: 80%;
	height : 40px;
	line-height : 40px;
	font-size: 15px;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	margin-top: 10%;
}

#changeBtn {
	width: 80%;
	height : 40px;
	line-height : 40px;
	font-size: 15px;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	margin-top: 10%;
}

.btn:hover {
	cursor: pointer;
}