@charset "UTF-8";
body {
    display: block;
    margin: 0px;
    top: 0;
    min-width: 500px;
}
 
/*section*/
#section_main{
	width:100%;
	height: 100%;
}
.img_main{
	height: 800px;
	width: 100%;
	background: #eee;
	display: flex;
    flex-direction: column;
}
.img_box_center{
	background-position: center;
	width:100%;
	height: 800px;
}
.img_main img{
	width:100%;
	height: 100%;
	background-size: cover;
	
}
.sec_img_div{
	margin:120px 0px 100px 150px;
/* 	border: 1px solid red; */
	padding-top: 100px;
	padding-left: 30px;
    position: absolute;
    color: wheat;
}
.img_text{
	padding-top: 5px;
    font-size: 30px;
}
#text_p{
	color: blue;
}
.img_text2{
	font-size:18px;
	padding-top: 40px;
}
.menubar{
	position: sticky;
	top: 270px;
	right:30px;
	float: right;
}
.menubar_div{
	width: 100px;
	height: 200px;
	border: 1px solid red;
}
.sec_pick{
	height: 500px;
	width: 100%;
	background: #fff;
}
.pick_main_div{
	margin: 5% 15% 5% 10%;
	height:400px;
	width:80%;
	border: 1px solid red;
	display: flex;
    flex-direction: column;
}
.pick_img, .pick_text{
	display: flex;
    justify-content: space-evenly;
    height: 150px;
}


.sec_finance{
	height: 500px;
	width: 100%;
	background: #eee;
}
.fin_main_div{
	margin: 5% auto;
	height:100%;
	width:80%;
	border: 1px solid red;
	display: flex;
    flex-direction: column;
    padding-top:34px;
}
.fin_tag{
	display: flex;
    justify-content: space-evenly;
    height: 50px;
    margin-top:15px;
    font-size:15px;
}
.fin_tag_see{
	position: relative;
	margin: 0 auto;
	width: 80%;
	height:350px;
	border: 1px solid blue;
}
.fin_tag_see > div{
	position: absolute;
}



/*footer*/
.footer_main{
	width:100%;
	height: 400px;
	background: gray;
}
.footer_main_div{
	width:70%;
	margin: 0 auto;
	height: 100%;
	border: 1px solid blue;
	display: flex;
}
.fo_text_div{
	margin-top:15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width:80%;
}
.fo_div1{
	font-size:30px;
	color:blue;
	font-weight: bold;
	margin:20px;
}
.fo_div1 > span{
	font-size: 16px;
	color:black;
	font-weight: normal;
	margin:15px;
}

.fo_div2 > ul > li {
	display: inline-block;
	text-align: left;
}
.fo_div3 {
    padding-bottom: 3%;
}
.fo_div3 > ul > li {
	display: inline-block;
	text-align: left;
}
.fo_div4 > ul > li {
	display: inline-block;
	text-align: left;
}
.fo_other{
	display: flex;
	flex-direction: column;
	width:20%
}
hr{
/* 	height: 0.5px; */
	background-color: #fff;
  	width:95%;
}
