@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
body {
    display: block;
    margin: 0px;
    top: 0;
    min-width: 500px;
    font-family: 'Noto Sans KR', sans-serif;
}
 
/*section*/
#section_main{
	width:100%;
	height: 100%;
}
.img_main{
	height: 800px;
	width: 100%;
	background: #eee;
	display: flex;
    flex-direction: column;
}
.img_box_center{
	background-position: center;
	width:100%;
	height: 800px;
}
.img_main img{
	width:100%;
	height: 100%;
	background-size: cover;
	
}
.sec_img_div{
	margin: 230px 0px 100px 169px;
    position: absolute;
    padding:5px;
    color: wheat;
    background-color: rgba(3 ,3 ,3 , 0.5);
    border-radius: 15px;
}
.img_text{
	padding-top: 5px;
    font-size: 30px;
}
#text_p{
	color: #3fa4ff;
}
.img_text2{
	font-size: 18px;
	font-weight: lighter;
	padding-top: 40px;
	padding-bottom: 20px;
}
.img_text3{
	text-align: center;
	font-size: 22px;
	padding-top: 5px;
	
}
.menubar{
	position: sticky;
	top: 270px;
	right:30px;
	float: right;
}
.menubar_div{
	width: 100px;
	height: 200px;
    background-color: rgba( 199, 209, 220, 0.8);
    border-radius:15px;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menubar_div div a {
	text-decoration: none;
	color:black;
}
.sec_pick{
	height: 490px;
	width: 100%;
	background: #fff;
}
.pick_main_div{
	margin: 5% 15% 5% 13.5%;
	height:400px;
	width:75%;
	display: flex;
    flex-direction: column;
}
.pick_img, .pick_text{
	display: flex;
    justify-content: space-evenly;
    height: 150px;
}
.pick_text > span >span{
	font-size:15px;
	color: gray;
}
#title_name{
	font-size:25px;
	color: rgb(33,23,255);
}
.disunite_div{
	width: 100%;
	height:30px;
	background-color: rgba(238,238,238, 0.6);
	
}

.sec_finance{
	height: 640px;
	width: 100%;
	background: #fff;
}
.pick_card_img, .pick_bank_img, .pick_cel_img{
	width: 320px;
    margin: 0 auto;
    text-align: center;
    }
.pick_title{
	text-align: center;
	height:100px;
	margin-top:20px;
}
.pick_title_1{
	font-size: 22px;
	color: #8c8c8c;
}
.pick_title_2{
	font-size: 25px;
	font-weight: bolder;
}
.pick_card_img > ion-icon{
	width: 140px;
	height: 120px;
	color:skyblue;
	margin-top: 20px;
}
.pick_bank_img > ion-icon{
	width: 140px;
	height: 120px;
	color:green;
	margin-top: 20px;
}
.pick_cel_img > ion-icon{
	width: 140px;
	height: 120px;
	color:darkblue;
	margin-top: 20px;
}
.pick_card_text, .pick_bank_text, .pick_cel_text{
	width: 320px;
    margin: 0 auto;
    text-align: center;
	
}
.text_title{
	text-align: center;
	font-size: 22px;
    font-weight: bold;
}

.fin_main_div{
	margin: 0 auto;
	height:90%;
	width:80%;
	display: flex;
    flex-direction: column;
    padding-top:90px;
}
.fin_tag{
	display: flex;
    justify-content: space-evenly;
    height: 50px;
    margin-top:15px;
    font-size:15px;
}
.finBtn{
	width:80px;
	font-size:18px;
	background-color: skyblue;
	border: none;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.fin_tag_see{
	position: relative;
	margin: 0 auto;
	width: 80%;
	height:350px;
	border: 2.5px solid black;
	border-radius: 15px;
}
.fin_tag_see > div{
	position: absolute;
}

.fin_see{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.fin_see_title{
	font-size:30px;
	margin: 10px 0;
}
.see_sec{
	display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.see_sec1{
	width:60%;
}
.card_Img_div{
	margin-top:15px;
	width:140px;
	height:200px;
	border:1px solid red;
}
.see_sec2{
	width:35%;
	border:1px solid blue;
}
.img_section{
	width:90%;
	height:80%;
	margin:0 auto ;
	display: flex;
    justify-content: space-evenly;
}