@charset "UTF-8";

@font-face {
    font-family: 'WooridaumB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/WooridaumB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
	margin: 0 auto;
}

body {
	background-color: rgba(246, 246, 246, 0.8);
}

.backimg {
	margin-top: 2%;
	padding-bottom : 2%;
	width: 500px;
	border-radius: 20px;
}

#wrap {
	text-align: center;
}

table {
	width: 410px;
}

table thead{
	height: 100px;
}

th {
	font-size: 30px;
	color: #0F4B81;
	padding: 10px;
}

td {
	float: left;
	padding: 10px;
}

.input {
	height: 5px;
	line-height: 5px;
	float: left;
	color: #3E3E3E;
	font-weight: bold;
	font-family: 'WooridaumB';
}

/* 조건에 일치하지 않았을 경우 */
.error {
	float: left;
	color: red;
	font-size: small;
}

.possibility {
	float: left;
	color: blue;
	font-size: small;
}

input {
	height: 30px;
	border: solid 1px gray;
	border-radius: 5px;
}

#id {
	float: left;
	width: 300px;
}

#password {
	float: left;
	width: 370px;
}

#passwordcheck {
	float: left;
	width: 370px;
}

#name {
	float: left;
	width: 370px;
}

select {
	width: 175px;
	height: 33px;
	border-radius: 5px;
}

#gender {
	float: left;
}

button {
	height: 34px;
	line-height: 34px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	background-color : #0F4B81;
	color:white;
	font-family: 'LeferiPoint-WhiteObliqueA'
}

#joinBtn {
	width : 375px;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
	border: none;
	border-radius: 15px;
}

#idcheck {
	font-size: 12px;
}

#idcheck:hover {
	cursor: pointer;
}

#joinBtn:hover {
	cursor: pointer;
}