@charset "UTF-8";

body {
	margin: 0;
	max-width: 1072px;
	margin-left: auto;
    margin-right: auto;
	font-size: 1.4rem;
	font-family: -apple-system, BlinkMacSystemFont, HelveticaNeue, Helvetica,
		AppleSDGothicNeo, sans-serif;
	color: #242424;
	background-color: #f1f5fe;
}

.filters {
	max-width: 1072px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	padding: 7px 9px 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 320px;
}

.table {
	
	flex-wrap: wrap;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgb(0 0 0/ 5%), 0 0 2px 0 rgb(0 0 0/ 7%);
	color: #666;
	background-color: #fff;
}

.filters .category:first-child {
	border-top-left-radius: inherit;
}

.filters .category {
	flex-basis: 100%;
	max-width: 100%;
	position: relative;
	line-height: 53px;
}

.item {
	max-width: 1072px;
    min-height: 35px;
    padding: 0 13px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.47;
    letter-spacing: -.62px;
}

li.item {
	width: 1000px;
    
}

h5 {
	display: block;
	margin-block-start: 1.67em;
	margin-block-end: 1.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.filters .title {
	position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 1px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 107px;
    padding-left: 25px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -.3px;
    color: #242424;
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background-image: -webkit-linear-gradient(right,hsla(0,0%,100%,0),hsla(0,0%,100%,.95) 44px);
    background-image: linear-gradient(270deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.95) 44px);
}

.btncontainer {
	overflow-x:auto; /* 창 작아지면 밑에 스크롤바 */
	margin-right: 14px;
	padding-left: 113px;
	white-space: nowrap; /* 지우면 리스트 길게 나열 */
}

/* .btncontainer::-webkit-scrollbar {  스크롤 안보이게 하기 
	display: none;
} */
.item {
	display: inline-block;
	padding: 0 8px;
	border: 1px solid transparent;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	font-weight: 500;
	line-height: 1.47;
	letter-spacing: -.62px;
}



.item2 {
	display: inline-block;
	border: 1px solid transparent;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	margin-left: 22px;
	margin-right: 22px;
	font-size: 20px;
	line-height: 1.47;
	letter-spacing: -.62px;
	width: calc(100% - 44px);
	line-height: 1.47;
	border: 1px solid transparent; /* 테이블 중앙에 베지 */
}

.btncontainer img {
	display: inline-block;
	height: 31px;
	vertical-align: middle;
}

img {
	overflow-clip-margin: content-box;
	overflow: clip;
	transition: all 0.2s linear;
}

img:hover{
	transform: scale(1.1);
}

button {
	writing-mode: horizontal-tb !important;
	text-rendering: auto;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-align: center;
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
	line-height: 1.47;
	letter-spacing: -.62px;
	display: inline-block;
	vertical-align: middle;
	background-color: white;
	padding: 0.8px;
}

.cards{
	max-width: 1072px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	padding: 7px 9px 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 320px;
}

.orders {
	

	margin-top: 10px;
	margin-left: 20px;
	vertical-align: middle;
	margin-left: 20px;
	margin-bottom: 10px;
	
}

.order {
	
	
	display: inline-block;
	padding: 0 8px;
	border: 1px solid transparent;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	font-weight: 500;
	line-height: 1.47;
	color: #afafaf;
}




.cardImg{
	width: 150px;
	height: 220px;
	
	transition: all 0.2s linear;
}

.cardImg:hover{
	transform: scale(1.1);
}

.list {
	
    display: block;
    list-style-type: disc;
    margin-block-start:1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
      padding-inline-end: 20px;
}


.info{
	max-width: 700px;
    margin-left: 20px;
    margin-right: auto;
}

.preview {
    align-self: center;
}

.name{
	font-size: 40px;
}