@charset "UTF-8";

* {
	margin: 0 auto;
}

body {
	background-color: rgba(246, 246, 246, 0.8);
}

table {
	width: 600px;
	height : 70px;
	line-height : 70px;
	text-align: center;
	margin-top: 5%;
}

table th {
	font-size: 25px;
	color : #0F4B81;
}

input {
	width: 80%;
	height : 40px;
	line-height : 40px;
	border-radius: 5px;
	border: solid 1px gray;
	font-size: 15px;
}

button {
	width: 82%;
	height : 40px;
	line-height : 40px;
	font-size: 15px;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	background-color : #0F4B81;
	color: white;
}

button:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
}

/* 에러메시지 */
.error {
	color: red;
	font-size: small;
}