@charset "utf-8";

.popup-wrap{
	/*배경색과 투명도로 살짝 어둡지만 투명한 배경
	허공에 붕 떠있는 느낌을 주고 싶으면 안넣어도 무방
	 */
  background-color:rgba(0,0,0,.3); 
  /* 수평 중앙정렬 */
  justify-content:center; 
  /* 수직 중앙정렬 */
  align-items:center;  
  /* 포지션 픽스, 화면이 스크롤되더라도 고정되기 위함 */
  position:fixed;       
  top:0;
  left:0;
  right:0;
  /* 모든 방향에 0을 주면 화면에 꽉차게 됩니다. */
  bottom:0;     
  /* 이벤트가 발생할 때 띄우기 위해 숨김
  처음부터 보이게 하는 상황이라면 display:flex; */        
 
  /* 반응형의 경우 padding이 없으면 박스가 화면에 붙어서 안이뻐짐 */
  padding:15px; 
 z-index: 999;
}

.popup{
  width:100%;              
     max-width: 1058px;    
  border-radius:10px;       
  overflow:hidden;         
  background-color:#264db5; 
 
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 
}
.head-title{
	
	    color: #ffffff;
}
.popup-head{
  width:100%;
  /* 헤드 영역 높이 */
  height:50px; 
  /* 로고 이미지나 텍스트를 중앙 정렬하기 위한 flex 및 정렬 */
  display:flex;
  align-items:center;
  justify-content:center;
}

/* 팝업 몸통 */
.popup-body{                
  width:100%;
  /* 컨텐츠 영역의 배경색 */
  background-color:#ffffff;
}
.body-content{             
  width:100%;
  padding: 30px 0px;         
}
.body-titlebox{           
  text-align:center;      
  width:100%;
  height:40px;
  margin-bottom:10px;     
}
.body-contentbox{          
  word-break:break-word;   
  overflow-y:auto;       
  min-height:100px;        
  max-height:500px;         
}

.popup-foot{                  
  width:100%;
  height:50px;
  display: inline-flex;
}
.pop-btn{ 
  display:inline-flex;           
  width:50%;                 
  height:100%;                  
  justify-content:center;      
  align-items:center;          
  float:left;                   
  color:#ffffff;                 
  cursor:pointer;                
}
.pop-btn.confirm{                 
  border-right:1px solid #3b5fbf; 
}

/* 모달 내부 */

.imgtr{
    text-align: left;
    padding-left: 10px;
       
}
.idtr{
	
	padding-left: 31px;
}

.destr{
	width: 480px;
	
}
.imgth{
	padding-left: 10px;
    text-align: -webkit-left;
   width: 200px;
    padding-block: 20px;
}
.idth{
	padding-left: 30px;
   padding-block: 20px;
	
}

.desth{
	padding-left: 30px;
 padding-block: 20px;
	
}

.feeth{
	width: 150px;
	padding-left: 30px;
 padding-block: 20px;
}
.modallist{
	  padding: 20px 0px;
	
}

.modallist thead{ 
font-size: 29px;
	}
.modallist tbody{ 	
	font-size: 21px;
	
	}
.tb tr{
	
	    padding: 20px 0px;
}
.line {
  border-top: 1px solid #444444;
  
}

/* 라인 */
<div class="jb-division-line"></div>

/* 모달스크롤바 */
/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.body-content::-webkit-scrollbar {
  display: none;
}

.body-content {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

