@charset "UTF-8";
/* header */
#header_main{
	position: fixed;
	width: 100%;
	height:90px;
	text-align: center;
	top: 0;
	background-color: rgba( 199, 209, 220, 0.8);
}

.hd_div{
    position: absolute;
    height: 90px;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0px auto;
    padding: 0px 10%;
}
.hd_row1_menu{
    padding: 8px 0px 5px 550px;
    width: auto;
    font-size: 13px;
    height: 15px;
    display: flex;
    justify-content: flex-end;
}

.hd_row1_menu > span > a{
	text-decoration : none;
	color: #837979;
}

.hd_row1_menu a:after {
   display:block;
   content: '';
   border-bottom: solid 1.5px black;
   transform: scaleX(0);
   transition: transform 250ms ease-in-out; 
}
.hd_row1_menu a:hover:after {
   transform: scaleX(1);
}
.hd_row2_menu{
	display: flex;
    padding-right: 80px;
}

#span_line{
	font-size: 4px;
	color: #9d9d9d;
    line-height: 1.8;
}
.hd_menu1{
	list-style: none;
	margin: 3px 0;
    padding: 0;
}
#hd_menu1_id1{
	padding-right:280px;
}
.hd_menu1 > li{
	display: inline-block;
    text-align: left;
	margin: 15px 0px;
    font-size: larger;
    width: 170px;
}
.hd_menu1 > li > div > a{
	text-decoration : none;
	color: black;
	font-weight: normal;
}
.hd_menu1 > li > a{
	text-decoration : none;
	color: black;
    font-size: 26px;
    font-weight: bolder;
}
#menu1_1{
	line-height: 0;
}
#momentor_loge{
	color: blue;
}

#menu1_2 > div, #menu1_3 > div, #menu1_4 > div{
	width:170px;
	text-align: center;
}

.hd_menu1 > li > div > a:after{
   display:block;
   content: '';
   border-bottom: solid 2px black;
   transform: scaleX(0);
   transition: transform 250ms ease-in-out; 
}
.hd_menu_sub > li > a:hover {
	color: skyblue;
}
.hd_menu1 > li > div > a:hover:after{
   transform: scaleX(1);
}

.hd_menu_sub{
	background: rgba(  199, 209, 220, 0.75);
    width: 168px;
    position: absolute;
    height: auto;
	padding: 0;
    padding-top: 5px;
    border-top: none;
	display:none;
}
.hd_menu_sub > li > a{
	text-decoration : none;
	color: black;
	font-size: 15px;
    font-weight: initial;
    padding-left: 15%;
}
.hd_menu1 > li:hover > .hd_menu_sub{
	display: block;
}
.hd_menu_sub > li{
	display: block;
    margin: 10px 0px;
    width: 150px;
    text-align: left;
    margin-left: 10px;
}
/* 반응형 부분 */
.hd_div2{
	height: 90px;
}
.menu_under1100 {
    width: auto;
    display: flex;
    justify-content: space-around;
}
.menu_under1100 > span > a{
	text-decoration : none;
	color: black;
	font-size: 20px;
    font-weight: bold;
}
#under_span{
	margin:auto;
}

#lockimg{
	width:70px;
	height:70px;
}
@media(min-width:1150px){
	.hd_div2{
	display: none;
	}
}
@media(max-width:1150px){
	.hd_div{
		display:none;
	}
	.hd_div2{
		display: block;
	}
	
}
