<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring_boot_momentor.dao.IAnnuitySavingDAO">
  <resultMap id="AnnuitySavingResult" type="com.spring_boot_momentor.model.AnnuitySavingBaseVO">
  		<result property="annuitySavingID" column="annuitySavingID"/>
		<result property="dclsMonth" column="dclsMonth"/>
		<result property="comNum" column="comNum"/>
		<result property="prdNum" column="prdNum"/>
		<result property="comName" column="comName"/>
		<result property="prdName" column="prdName"/>
		<result property="pnsnKindName" column="pnsnKindName"/>
		<result property="saleStart" column="saleStart"/>
		<result property="prdtTypeName" column="prdtTypeName"/>
		<result property="avgPrftRate" column="avgPrftRate"/>
		<result property="dclsRate" column="dclsRate"/>
		<result property="guarRate" column="guarRate"/>
		<result property="btrmPrftRate1" column="btrmPrftRate1"/>
		<result property="btrmPrftRate2" column="btrmPrftRate2"/>
		<result property="btrmPrftRate3" column="btrmPrftRate3"/>
		<result property="saleCom" column="saleCom"/>
		<result property="pnsnRecTrm" column="pnsnRecTrm"/>
		<result property="pnsnEnterAge" column="pnsnEnterAge"/>
		<result property="monPay" column="monPay"/>
		<result property="payPeriod" column="payPeriod"/>
		<result property="pnsnStartAge" column="pnsnStartAge"/>
		<result property="pnsnRecAmt" column="pnsnRecAmt"/>
	
	</resultMap>
	
  	<insert id="insertAnnuitySavingBase" parameterType="com.spring_boot_momentor.model.AnnuitySavingBaseVO" timeout="3">
  		insert into annuitySavingBase (annuitySavingID, dclsMonth, comNum, prdNum, comName, prdName, pnsnKindName, saleStart, prdtTypeName, avgPrftRate, 
  									   dclsRate, guarRate, btrmPrftRate1, btrmPrftRate2, btrmPrftRate3, saleCom, dclsStart)
  		values (#{annuitySavingID}, #{dclsMonth}, #{comNum}, #{prdNum}, #{comName}, #{prdName}, #{pnsnKindName}, #{saleStart}, #{prdtTypeName}, #{avgPrftRate},
  			    #{dclsRate}, #{guarRate}, #{btrmPrftRate1}, #{btrmPrftRate2}, #{btrmPrftRate3}, #{saleCom}, #{dclsStart})
  	</insert>
  	<insert id="insertAnnuitySavingOption" parameterType="com.spring_boot_momentor.model.AnnuitySavingOptionVO">
  		insert into annuitySavingOption (annuitySavingID, dclsMonth, comNum, prdNum, pnsnRecTrm, pnsnEnterAge, monPay, payPeriod, pnsnStartAge, pnsnRecAmt)
  		values (#{annuitySavingID}, #{dclsMonth}, #{comNum}, #{prdNum}, #{pnsnRecTrm}, #{pnsnEnterAge}, #{monPay}, #{payPeriod}, #{pnsnStartAge}, #{pnsnRecAmt})
  	</insert>
  	
  	<!--  전체 연금 조회  -->
	<select id="listAllAnnuitySaving" resultMap="AnnuitySavingResult"> 
		<!--  SELECT * FROM savingBase as sb	inner join savingOption as so
		on sb.savingID = so.savingID -->
		
<!-- 	SELECT ab.annuitySavingID, comName, prdName, pnsnKindName, saleStart, prdtTypeName, avgPrftRate, dclsRate, guarRate, btrmPrftRate1, btrmPrftRate2, btrmPrftRate3,
	saleCom, pnsnRecTrm, pnsnEnterAge, monPay, pnsnStartAge, pnsnRecAmt
		FROM annuitySavingBase as ab
		inner join annuitySavingOption as ao
		on ab.annuitySavingID = ao.annuitySavingID -->
		<!-- group by prdName
		  -->
		  SELECT * FROM annuitySavingBase as b	inner join annuitySavingOption as o
		on b.annuitySavingID = o.annuitySavingID
	
		  
	</select>
	
	<!-- 연금 검색 -->
	<select id="AnnuitySavingSearch" parameterType="hashmap" resultMap="AnnuitySavingResult" > 
		<![CDATA[
		SELECT * FROM annuitySavingBase 
		WHERE 
			  comName like CONCAT('%', #{prdName}, '%') and
			  prdtTypeName like CONCAT('%', #{prdtTypeName}, '%') and
			  pnsnKindName like CONCAT('%', #{pnsnKindName}, '%')
		]]> 

	</select>
	
	<!-- 적금 비교 넣기 -->
	<select id="AnnuitySavingCompare" resultMap="AnnuitySavingResult" parameterType="string">
		SELECT b.comName, b.prdName, pnsnKindName, saleStart, prdtTypeName, avgPrftRate, dclsRate, guarRate, btrmPrftRate1, btrmPrftRate2, btrmPrftRate3, 
		saleCom, pnsnRecTrm, pnsnEnterAge, monPay, payPeriod, pnsnStartAge, pnsnRecAmt
		FROM annuitySavingBase b, annuitySavingOption o
		where b.annuitySavingID = o.annuitySavingID AND b.annuitySavingID = #{annuitySavingID} 
	
	</select>
	
	<!-- 적금 비교 모달 -->
	<select id="AnnuitySavingCompareModal" resultMap="AnnuitySavingResult" parameterType="string">
		SELECT b.comName, b.prdName, pnsnKindName, saleStart, prdtTypeName, avgPrftRate, dclsRate, guarRate, btrmPrftRate1, btrmPrftRate2, btrmPrftRate3, 
		saleCom, pnsnRecTrm, pnsnEnterAge, monPay, payPeriod, pnsnStartAge, pnsnRecAmt
		FROM annuitySavingBase b, annuitySavingOption o
		where b.annuitySavingID = o.annuitySavingID AND b.annuitySavingID = #{annuitySavingID}
	</select>
  </mapper>
