<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot_momentor.dao.ISavingDAO">
	<resultMap id="savingResult" type="com.spring_boot_momentor.model.SavingBaseVO">
		<result property="savingID" column="savingID"/>
		<result property="dclsMonth" column="dclsMonth"/>
		<result property="comNum" column="comNum"/>
		<result property="prdNum" column="prdNum"/>
		<result property="comName" column="comName"/>
		<result property="prdName" column="prdName"/>
		<result property="joinWay" column="joinWay"/>
		<result property="interest" column="interest"/>
		<result property="spclCnd" column="spclCnd"/>
		<result property="maxLimit" column="maxLimit"/>
		<result property="joinMember" column="joinMember"/>
		<result property="etcNote" column="etcNote"/>
		<result property="dclsStart" column="dclsStart"/>
		<result property="intrRate" column="intrRate"/>
		<result property="intrRate2" column="intrRate2"/>
		<result property="saveTrm" column="saveTrm"/>
	</resultMap>

	<insert id="insertSavingBase" parameterType="com.spring_boot_momentor.model.SavingBaseVO"> 
		insert into SavingBase (savingID, dclsMonth, comNum, prdNum, comName, prdName, joinWay, interest, spclCnd, maxLimit, joinMember, etcNote, dclsStart) 
		values (#{savingID}, #{dclsMonth}, #{comNum}, #{prdNum}, #{comName}, #{prdName}, #{joinWay}, #{interest}, #{spclCnd}, #{maxLimit}, #{joinMember}, #{etcNote}, #{dclsStart}) 
	</insert>
	
	<insert id="insertSavingOption" parameterType="com.spring_boot_momentor.model.SavingOptionVO"> 
		insert into SavingOption (savingID, dclsMonth, comNum, prdNum, intrRate, intrRate2, saveTrm, rsrvTypeName, intrRateTypeName) 
		values (#{savingID}, #{dclsMonth}, #{comNum}, #{prdNum}, #{intrRate}, #{intrRate2}, #{saveTrm}, #{rsrvTypeName}, #{intrRateTypeName}) 
	</insert>
	
	<!--   전체 적금 조회   -->
	<select id="listAllSaving" resultMap="savingResult" > 
		<!-- SELECT * FROM savingBase as sb	inner join savingOption as so
		on sb.savingID = so.savingID
		 -->
		SELECT sb.savingID, comName, prdName, joinWay, interest, spclCnd, maxLimit, joinMember, etcNote, intrRate, MAX(intrRate2) as intrRate2, saveTrm
		FROM savingBase as sb
		inner join savingOption as so
		on sb.savingID = so.savingID
		group by prdName;
		
	</select>	
		
	
	<!--   적금 검색   -->
	<select id="savingSearch" resultMap="savingResult"> 
		SELECT * FROM savingBase 
		WHERE comName like CONCAT('%', #{prdName}, '%') OR 
			  prdName like CONCAT('%', #{prdName}, '%') AND 
			  joinWay like CONCAT('%', #{way}, '%') 
	</select>
	
	<select id="SavingCompare" resultMap="savingResult" parameterType="string">
		SELECT * FROM savingBase 
		where savingID = #{savingID}
		 
	</select>
</mapper>  