<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot_momentor.dao.IInsuDAO">
  	<resultMap type="com.spring_boot_momentor.model.InsuVO" id="insuResult">
			
		<result column="prdName" property="prdName"/>
		<result column="prdLogo" property="prdLogo"/>
		<result column="insuName" property="insuName"/>
		<result column="insuCtg" property="insuCtg"/>
		<result column="insuDes" property="insuDes"/>
		<result column="insuPrice" property="insuPrice"/>
		<result column="male" property="male"/>
		<result column="female" property="female"/>
		<result column="insuIndex" property="insuIndex"/>
		<result column="age" property="age"/>
		<result column="insuNote" property="insuNote"/>
		<result column="insuJoinURL" property="insuJoinURL"/>
		<result column="insuPhoneNumber" property="insuPhoneNumber"/>
	</resultMap>
  	
  	
  	
  	<insert id="insertInsu" parameterType="com.spring_boot_momentor.model.InsuVO">
		INSERT INTO insu(prdName, prdLogo, insuCtg, insuDes, insuPrice,
		male, female, insuIndex, age, insuNote, insuJoinURL, insuPhoneNumber, insuName)
		VALUES (#{prdName}, #{prdLogo}, #{insuCtg}, #{insuDes}, 
		#{insuPrice}, #{male}, #{female}, #{insuIndex}, #{age},
		#{insuNote}, #{insuJoinURL}, #{insuPhoneNumber}, #{insuName})
	</insert>
	
	<select id="listAllInsu" resultMap="insuResult">
		SELECT * FROM insu 
	</select>
	
	<select id="InsuAllSearch" resultType="com.spring_boot_momentor.model.InsuVO" parameterType="string">

	<![CDATA[
	  SELECT * FROM insu
	  where insuName like CONCAT('%',#{insuId},'%')
	 
	  ]]>
	</select>
	
	<select id="InsuCompare" resultMap="insuResult" parameterType="string">
		SELECT * FROM insu 
		where insuId = #{insuId}
		 
	</select>
	<select id="insuCategory1" resultMap="insuResult" parameterType="string" resultType="com.spring_boot_momentor.model.InsuVO">

<![CDATA[
	  SELECT * FROM insu
	  where insuCtg like CONCAT('%',#{insuCtg},'%') 

	  ]]>
</select>

	<select id="insuCategory2" resultMap="insuResult" parameterType="string" resultType="com.spring_boot_momentor.model.InsuVO">

<![CDATA[
	  SELECT * FROM insu
	  where prdName like CONCAT(#{prdLogo}) 

	  ]]>
</select>

	<select id="insuCategory3" resultMap="insuResult" parameterType="hashmap" resultType="com.spring_boot_momentor.model.InsuVO">

<![CDATA[
	   SELECT * FROM insu
	 where  
     insuIndex>=#{min} 
     and
     insuIndex<#{max};

	  ]]>
</select>

<select id="insuCategory4" resultMap="insuResult" parameterType="string" resultType="com.spring_boot_momentor.model.InsuVO">

<![CDATA[
	  SELECT * FROM insu
	  where insuCtg like CONCAT('%',#{insuCtg},'%') 
	  and prdName like CONCAT(#{prdLogo}) 
	

	  ]]>
</select> 

<select id="insuCategory5" resultMap="insuResult" parameterType="hashmap" resultType="com.spring_boot_momentor.model.InsuVO">

<![CDATA[
	  SELECT * FROM insu
	  where insuCtg like CONCAT('%',#{insuCtg},'%') 
	  and prdName like CONCAT('%',#{prdLogo},'%') 
	  and
	  insuIndex>=#{min} 
      and
      insuIndex<#{max};
	

	  ]]>
</select> 
	
  </mapper>